//Empieza el formulario de travel
#traveler {
    font-family: 'Montserrat', sans-serif;
    
    h1 {
      padding-top: 10px;
    }
  
    .traveler-form {
      background-color: $form-bg-color;
      padding: 50px 20px;
      border-radius: 4px;
      box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.3);
    }
  
    .form-label {
      display: inline-block;
      color: #3e485c;
      font-weight: 700;
      margin-bottom: 6px;
      margin-left: 7px;
      border-radius: 20%;
    }
  
    input, .form-control {
      border-radius: 20px;
      color: #3e485c;
      background-color: #F3F4F6FF;
      padding: 10px;
  
      &::-webkit-input-placeholder {
        color: $form-input-placeholder-color;
      }
  
      &:-ms-input-placeholder {
        color: $form-input-placeholder-color;
      }
  
      &::placeholder {
        color: $form-input-placeholder-color;
      }
  
      &[type="date"].form-control:invalid {
        color: $form-input-placeholder-color;
      }
    }
  
    .bi-person-circle {
      width: 500px;
    }
  
    .submit-btn {
      display: inline-block;
      color: #fff;
      background-color: $submit-btn-bg-color;
      font-weight: 700;
      padding: 7px 20px;
      margin-top: 10px;
      border-radius: 4px;
      border: none;
      transition: 0.2s all;
    }

    button:disabled,
    button[disabled]{
    border: 1px solid #999999;
    background-color: $submit-btn-disabled-bg-color;
    color: #fff;
}
  
  }
  
  //Termina el formulario de travel