/* You can add global styles to this file, and also import other style files */
$primary-color : #16507b;
$secondary-color: #333;
$light-bg-color: #f9f9f9;

$booking-bg-color: rgba(0, 13, 29, 0.281);
$form-bg-color: #fff;
$form-input-bg-color: #ebecee;
$form-input-placeholder-color: rgba(62, 72, 92, 0.3);
$form-select-arrow-color: rgba(62, 72, 92, 0.3);
$submit-btn-bg-color: #16507b;
$submit-btn-disabled-bg-color: #62a6db;
$submit-btn-hover-opacity: 0.9;
$booking-cta-bg-color: #fff;
$booking-cta-text-color: rgba(255, 255, 255, 0.8);
